
/* 

voter regerstaion
Freida Atkins, 4/22/26
*/


    body {
		/* see https://developer.mozilla.org/en-US/docs/Web/CSS/font for more about fonts */
		/* also https://fonts.google.com for additional fonts */
      font-family: Arial, sans-serif;
      background-color: #D6F6FF;
      text-align: center;
      margin: 0;
      padding: 0;
    }
/*==========navigation============== */
    nav {
      background-color: #17258AFF;
      padding: 10px 0;
	  
	    /*flexible box layout see: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout */
      display: flex;
	  
	    /*  align items along the main axis of a flex container */
  /* see https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content */
      justify-content: center;
	  
/*define the spacing between rows and columns in layout models */
  /* see https://developer.mozilla.org/en-US/docs/Web/CSS/gap*/
      gap: 10px;
    }
	
/* default navigation */
    nav button {
      background-color: #131552;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 16px;
	  
	    /* seehttps://developer.mozilla.org/en-US/docs/Web/CSS/border-radius*/
      border-radius: 5px;

    }
/* navigation button hover style */
    nav button:hover {
      background-color: #F4D02E;
  
    }
/* active page button */
    nav button.active {
      background-color: #9AC4D0;

    }
/*==========content============== */
    .page {
      display: none;
      padding: 40px;
    }

    .page.active {
      display: block;
    }
	
	.voterlinks {
		font-size: 20px;

      background-color: #9AC4D0;
		color:white;
		flex:1;
    }
h2 {
	color: #9AC4D0;
}
.subheader {
	color:#9AC4D0;
}
hr {
  border: none;
  height: 10px;
  /* Set the hr color */
  background-color: white;  
  /* Modern Browsers */
}
.credit {
	font-family: Arial, sans-serif;
	font-size: 10px;
}
.bottombar{
	border-bottom-style:solid;
	border-bottom-color:#9AC4D0;
	border-bottom-width:30px;
	padding-right-width:0px;
	padding-bottom:10px;
}
